<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context 
    					http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config />

	<bean id="address" class="com.anupam.springtest3.model.Address" p:city="Bangalore" p:houseNo="75" />  
        
    <bean id="prod" class="com.anupam.springtest3.model.Product" p:name="TV" p:price="100000" />  
    
    <bean id="shopCart" class="com.anupam.springtest3.model.ShoppingCart">
       <property name="numOfItems" value="1" />
    </bean>

    <bean id="personalInfo" class="com.anupam.springtest3.model.PersonalInfo">  
        <property name="name" value="Anupam" />
        <property name="number" value="12345" />
    </bean>

	<bean id="cust" class="com.anupam.springtest3.model.Customer">
        <property name="id" value="1" />
    </bean>
   
</beans>